.pageBody {
    display: flex;
}

.navBar {
    flex: auto;
    min-width: 225px;
    max-width: 10vw;
    margin: min(30%, 50px);
}

.emptySpace {
    height: 50px;
    width: 100%;
    /* background-color: aliceblue; */
}

.mainContent {
    flex: auto
}

.booksRow {
    display: flex;
    gap: 75px;
}

.book {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
}

.bookCover {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 125px;
}